@import "./variables.scss";
@import "./breakpoints.scss";

.category-list {
  padding: 50px 80px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;

  @include sm {
    padding: 50px 20px;
  }

  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $darkgrey;
    cursor: pointer;

    &_icon {
      font-size: 30px;
    }

    p {
      font-size: 18px;
      font-weight: 700;
    }

    &:hover {
      color: $pinkred;
    }
  }

  .selected {
    color: $pinkred;
  }
}

.listings-filter {
  padding: 40px 60px 20px;
  text-align: center;
  font-family: 'Nunito', sans-serif;

  @include lg {
    padding: 40px 20px 20px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    color: $darkgrey;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
  }

  .filter-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;

    @include sm {
      gap: 30px;
    }

    .filter-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $darkgrey;
      cursor: pointer;
      font-family: 'Nunito', sans-serif;

      .filter-icon {
        font-size: 30px;
      }

      span {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Nunito', sans-serif;
      }

      &:hover {
        color: $pinkred;
      }

      &.active {
        color: $pinkred;
      }
    }
  }
}

.listings {
  padding: 0 60px 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;

  @include lg {
    padding: 0 20px 120px;
  }
}